@font-face {
	font-family: 'HelveticaneueltRoman';
	font-display: swap;
	src: url("../fonts/HelveticaneueltRoman.woff2") format("woff2"), url("../fonts/HelveticaneueltRoman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCondensedBold";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "HelveticaNeueCondensedBlack";
	font-display: swap;
	src: url("../fonts/HelveticaNeueCondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}